body {
    background-color: rgb(250, 250, 250);
    font-family: "Montserrat";
    color: black;
}

footer {
    display:flex; 
    justify-content:center; 
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
   margin-left :0.625rem; 
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 0.625rem 1.25rem; 
    margin: 0.5rem 0; 
    border-radius: 0.9375rem; 
    cursor: pointer;
    border: none; 
    box-shadow: none;
}

button:hover {
    opacity: 0.8;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 0.5rem; 
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .img-header,
  .busca-header {
    width: 100px;
    height: 50px;
    margin: 0.625rem; 
  }

  nav {
    margin-top: 0;
  }