body {
    font-family: "Montserrat";
    color: black;
  }
  
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .img-header,
  .busca-header {
    width: 100px;
    height: 50px;
    margin: 0.625rem; 
  }

  nav {
    margin-top: 0;
}
  
  footer {
    display:flex; 
    justify-content:center; 
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  footer a {
     margin-left :0.625rem; 
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 0.625rem 1.25rem; 
    margin: 0.5rem 0; 
    border-radius: 0.9375rem; 
    cursor: pointer;
    border: none; 
    box-shadow: none;
  }
  
  button:hover {
      opacity: 0.8;
  }
  
  section {
      display:flex;
      justify-content: space-between;
      margin-left: auto;
      margin-right: auto;
      margin-top: 4rem;
  }

  .produto {
    margin: 0 10px; 
}
